body {
  color: white;
  background-color: red;
  font-family: bembo, Bank gothic;
  text-align: center;}
​
p {
  font-size:14pt;
}
​
li {
  padding-bottom: 5px;
  text-align: middle;
  font-size:10pt;
}
​
h1 {
  color: gold;
}
​
h2 {
  padding-top: 50px;
